/* Base Print Styles */
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    color: #212529; /* Sets the primary font color */
    font-family: 'Poppins', sans-serif; /* Sets the default font */
    line-height: 1.6; /* Adjusts line spacing for better readability */
}

h1, h2, h3, h4, h5, h6, p{
    color: #212529;
}
/* Headings - Sized and spaced for clarity and hierarchy */
h1 {
    font-size: 24px; /* Example size, adjust as needed */
    letter-spacing: -0.5px;
}

h2 {
    font-size: 20px;
    letter-spacing: -0.4px;
}

h3 {
    font-size: 18px;
    letter-spacing: -0.3px;
}

h4 {
    font-size: 16px;
    letter-spacing: -0.2px;
}

h5 {
    font-size: 14px;
    letter-spacing: -0.1px;
}

h6 {
    font-size: 12px;
    letter-spacing: 0;
}

p {
    font-size: 12px; /* Sets the paragraph font size */
}

/* Arabic Text Styles */
.-arabic {
    font-family: 'Almarai', sans-serif; /* Uses Almarai for Arabic text */
    direction: rtl; /* Sets text direction to right-to-left */
}

/* Emoji Styles */
.-emoji {
    font-family: 'Noto Color Emoji'; /* Ensures emojis render correctly */
}

@media print {
    /* Ensure background colors, images, and text colors print */
    -webkit-print-color-adjust: exact;
    color-adjust: exact;

    /* Hide elements not needed for print */
    .-no-print {
        display: none !important;
    }
    /* Additional print-specific styles here */
}


.print-format{
    padding: 0 !important;
    color: #212529;
}
.print-format td, .print-format th {
    vertical-align: top !important;
    padding: 0 !important;
}
@media print{
    .print-format{
        margin: 0 !important;
        padding: 0 !important;
    }
    @page{
        margin: 0 !important;
        padding: 0 !important
    }
}
body:last-child .print-format td img {
    width: revert !important;
}
.-modern-button {
  background-color: #00545c; /* Primary color */
  color: #ffffff; /* White text */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transition for all changes */
  border-radius: 5px; /* Slightly rounded corners for a modern look */
}

.-modern-button:hover {
  background-color: #006d75; /* Slightly lighter shade for hover effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for a "lifting" effect */
}

.-modern-link {
  color: #00545c; /* Primary color */
  text-decoration: none !important; /* Removes default underline */
  position: relative;
  transition: color 0.3s ease; /* Smooth color transition */
  font-size: 10px;
}
.-modern-link a{
text-decoration: none;
}

.-modern-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #00545c; /* Primary color */
  transition: width 0.3s ease; /* Smooth transition for the underline animation */
  border-radius: 2px;
}

.-modern-link:hover {
  color: #006d75; /* Slightly lighter shade for hover effect */
}

.-modern-link:hover::after {
  width: 100%; /* Underline grows to full width on hover */
}

.-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.5); /* Dimmed background */
}

.-modal-title-bar {
  padding: 12px 20px;
  background-color: #eee;
  color: #212529;
  font-size: 13px;
  font-weight: bold;
  border-top-left-radius: 8px; /* Match the modal's border radius */
  border-top-right-radius: 8px; /* Match the modal's border radius */
  margin: -40px -40px 20px -40px; /* Align with the modal's padding */
}
/* Modal Content Box */
.-modal-content {
  position: relative;
  background-color: #fff;
  margin: 10% auto; /* Increase top margin for effect */
  padding: 40px; /* Spacious padding for modern look */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  width: 50%; /* Adjust width for spacious design */
  max-width: 600px; /* Ensure it doesn't get too wide on larger screens */
}

/* The Close Button */
.-close {
  color: #212529;
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 24px;
  font-weight: bold;
}

.-close:hover,
.-close:focus {
  color: #00545c;
  text-decoration: none;
  cursor: pointer;
}

/* Input fields styling */
.-modern-text {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 16px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.-modern-test:focus {
  border-color: #00545c;
}

/* Style the submit button to match primary color */
.-modern-submit {
  width: 100%;
  background-color: #00545c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.-modern-submit:hover {
  background-color: #003d47;
}

/* Loading and Result Display */
#loading{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#resultContent p {
  display: block;
  margin: 20px auto;
  text-align: center;
}

#resultContent p {
  color: #333;
  font-size: 18px;
  margin-top: 20px;
}
@keyframes ldio-1sefv0391d6 {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-1sefv0391d6 div { box-sizing: border-box!important }
.ldio-1sefv0391d6 > div {
  position: absolute;
  width: 72px; /* Adjusted from 144px */
  height: 72px; /* Adjusted from 144px */
  top: 14px; /* Adjusted for alignment */
  left: 14px; /* Adjusted for alignment */
  border-radius: 50%;
  border: 8px solid #000; /* Adjusted from 16px */
  border-color: #00545c transparent #00545c transparent;
  animation: ldio-1sefv0391d6 1s linear infinite;
}
.ldio-1sefv0391d6 > div:nth-child(2) { border-color: transparent }
.ldio-1sefv0391d6 > div:nth-child(2) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-1sefv0391d6 > div:nth-child(2) div:before, .ldio-1sefv0391d6 > div:nth-child(2) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 8px; /* Adjusted from 16px */
  height: 8px; /* Adjusted from 16px */
  top: -8px; /* Adjusted for alignment */
  left: 24px; /* Adjusted for alignment */
  background: #00545c;
  border-radius: 50%;
  box-shadow: 0 64px 0 0 #00545c; /* Adjusted shadow offset */
}
.ldio-1sefv0391d6 > div:nth-child(2) div:after { 
  left: -8px; /* Adjusted for alignment */
  top: 24px; /* Adjusted for alignment */
  box-shadow: 64px 0 0 0 #00545c; /* Adjusted shadow offset */
}
.loadingio-spinner-dual-ring-k5e1bmfo08 {
  width: 100px; /* Adjusted container size */
  height: 100px; /* Adjusted container size */
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-1sefv0391d6 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-1sefv0391d6 div { box-sizing: content-box; }


/*Page Setup*/
#-document-structure{
    width: 100% !important;
}
/*Header Setup*/
#-company-logo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#-header{
    border-top: 10px solid #00545c;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}
#-header-left{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    background-color: #00545c;
    height: 160px;
    width: 160px;
    border-radius: 0 0 15px 15px;
}
#-qr{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 85%;
    width: 80%;
    border-radius: 10px;
    padding: 10px;
}
#-qr small{
    font-size: 9px;
    text-align: center;
    margin-top: 5px;
}
#-header-right{
    background: linear-gradient(180deg, rgba(0,84,92,1) 0%, rgba(0,84,92,1) 24%, rgba(255,255,255,0) 100%);
    height: 160px;
    flex: auto;
    overflow: hidden;
}
#-header-content{
    background-color: #fff;
    height: 100%;
    border-radius: 12px 12px 0 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
}
#-header-row-1{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#-document-id{
    display: flex;
    flex-direction: column;
}
#-document-id h1, h3{
    font-weight: 700;
    margin: 0 !important;
}
#-document-id h3{
    color: #fff;
    background: #00545c;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}
#-header-row-2{
    display: flex;
    justify-content:space-between;
}
#-document-details{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 70%;
}
#-document-etc{
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
}
.-document-detail{
    display: flex;
    gap: 10px;
    align-items: center;
}
.-document-detail h6{
    margin: 0;
    font-size: 12px;
}
.-document-detail h6:nth-of-type(1){
    font-weight: 700;
}

@media print {
    .-no-print {
        display: none !important;
    }
}
#-footer{
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%25%22%20viewBox%3D%220%200%20300%2048%22%20preserveAspectRatio%3D%22none%22%3E%3Cg%20class%3D%22pix-waiting%20pix-animate%20pix-3d-up-in%20animated%22%20data-anim-type%3D%22pix-3d-up-in%22%20data-anim-delay%3D%22400%22%3E%3Cg%20fill%3D%22%236C757D26%22%3E%3Cpath%20d%3D%22M150%2C11.3355932%20C150%2C31.9290847%20133.2105%2C48.6237288%20112.5%2C48.6237288%20L112.5%2C11.3355932%20L150%2C11.3355932%20Z%20M37.5%2C11.3150205%20L37.5%2C48.603156%20L0%2C48.603156%20C0%2C28.2155994%2016.4552052%2C11.6493032%2036.8798687%2C11.3200161%20L37.5%2C11.3150205%20Z%20M281.12069%2C11.1864407%20C291.372387%2C11.1864407%20299.702599%2C19.367651%20299.868178%2C29.5221973%20L299.87069%2C29.8305085%20C299.87069%2C40.0242868%20291.642995%2C48.3074349%20281.430753%2C48.4720785%20L281.12069%2C48.4745763%20C270.868992%2C48.4745763%20262.538781%2C40.2933659%20262.373202%2C30.1388196%20L262.37069%2C29.8305085%20C262.37069%2C19.5337627%20270.76544%2C11.1864407%20281.12069%2C11.1864407%20Z%20M225.12931%2C0%20C231.280552%2C0%20236.27846%2C4.90850692%20236.377803%2C11.0014474%20L236.37931%2C11.1864407%20C236.37931%2C17.3029292%20231.442914%2C22.272601%20225.315355%2C22.3713827%20L225.12931%2C22.3728814%20C218.915935%2C22.3728814%20213.87931%2C17.3647119%20213.87931%2C11.1864407%20C213.87931%2C5.0699522%20218.815707%2C0.1002804%20224.943266%2C0.00149861278%20L225.12931%2C0%20Z%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fg%3E%3Cg%20class%3D%22pix-waiting%20pix-animate%20pix-3d-up-in%20animated%22%20data-anim-type%3D%22pix-3d-up-in%22%20data-anim-delay%3D%22800%22%3E%3Cg%20fill%3D%22%2300545C30%22%3E%3Cpath%20d%3D%22M37.5%2C11.3150205%20L37.8100629%2C11.3175222%20C47.9201831%2C11.4807785%2056.0852477%2C19.6136304%2056.2475379%2C29.6830079%20L56.25%2C29.9887271%20L56.25%2C48.4745763%20C45.9983025%2C48.4745763%2037.6680911%2C40.2807262%2037.502512%2C30.1096819%20L37.5%2C29.8008696%20L37.5%2C11.3150205%20Z%20M262.5%2C11.3150205%20L262.5%2C29.8010573%20C262.5%2C40.1140684%20254.10525%2C48.4745763%20243.75%2C48.4745763%20L243.75%2C29.9885394%20C243.75%2C19.7786585%20251.977694%2C11.4824259%20262.189937%2C11.3175222%20L262.5%2C11.3150205%20Z%20M206.155211%2C29.7726476%20C216.458735%2C29.7726476%20224.831059%2C37.9538579%20224.997475%2C48.1084042%20L225%2C48.4167154%20L206.344789%2C48.4167154%20C195.936812%2C48.4167154%20187.5%2C40.0693933%20187.5%2C29.7726476%20L206.155211%2C29.7726476%20Z%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fg%3E%3Cg%20fill%3D%22%23ffffff%22%3E%3Cpath%20d%3D%22M37.5%2C29.8008696%20C37.5%2C40.1143578%2045.89475%2C48.4745763%2056.25%2C48.4745763%20L56.25%2C29.9887271%20C56.25%2C19.7792445%2048.0231129%2C11.4832416%2037.8115661%2C11.3175466%20L37.5%2C11.3150205%20C58.003395%2C11.3150205%2074.6638179%2C27.6774411%2074.994976%2C47.9865338%20L75%2C48.603156%20L111.625844%2C48.613797%20C91.5247389%2C48.1565995%2075.3314558%2C31.9719042%2075.0050239%2C11.9522155%20L75%2C11.3355932%20L93.36225%2C11.3355289%20L93.3646328%2C11.6297184%20C93.5319253%2C21.8899182%20101.865018%2C30.1759308%20112.183514%2C30.3422782%20L112.5%2C30.3448276%20L112.5%2C48.6126645%20L187.5%2C48.6320544%20L187.5%2C48.603156%20C166.7895%2C48.603156%20150%2C31.908512%20150%2C11.3150205%20L187.5%2C11.3150205%20C207.798361%2C11.3150205%20224.330225%2C27.3518289%20224.980155%2C47.3784574%20L224.994938%2C47.9864103%20L224.98687%2C47.7142226%20C224.617284%2C37.8436817%20216.491691%2C29.9338521%20206.462775%2C29.7750806%20L206.155211%2C29.7726476%20L187.5%2C29.7726476%20C187.5%2C39.9664259%20195.76892%2C48.249574%20206.033148%2C48.4142176%20L206.344789%2C48.4167154%20L224.9985%2C48.4167154%20L225%2C48.5953255%20L225.005024%2C47.9865338%20C225.334502%2C27.7805059%20241.827929%2C11.4811944%20262.188146%2C11.316283%20C252.079%2C11.4815704%20243.914736%2C19.6140539%20243.752462%2C29.6828383%20L243.75%2C29.9885394%20L243.75%2C48.4745763%20C254.001698%2C48.4745763%20262.331909%2C40.2804425%20262.497488%2C30.1098555%20L262.5%2C29.8118001%20L262.5%2C48.603156%20L262.49925%2C48.6518171%20L300%2C48.6610169%20L300%2C53%20L0%2C53%20L0%2C48.6610169%20L37.5%2C48.603156%20L37.5%2C29.8008696%20Z%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3Cdefs%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
    background-size: cover; /* Cover the entire area of the div */
    background-repeat: no-repeat;
    background-position: center; /* Center the background image */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#-footer-content{
    display: flex;
    gap: 20px;
    align-items: center !important;
    padding: 0 10px;
    justify-content: space-between;
}
#-footer-content-1-2{
    display: flex;
    align-items: center;
    gap: 40px;
}

#-footer-banner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: middle;
    background-color: #00545c;
    color: #fff;
    padding: 0 5px;
}
#-footer-content-2 h6{
    margin: 0 !important;
}
.-footer-banner{
    color: #fff;
    display: flex;
}
.-footer-banner a{
    color: #fff;
    text-decoration: none;
}
#-footer{
    background-color: #fff !important;
}
#-footer-content-items div span, #-footer-content-items div a{
    font-size: 12px;
    margin: 0 5px;
}
@media only screen and (max-width: 768px) {
#-footer-content-items div span, #-footer-content-items div a{
    font-size: 10px !important;
}
#-company-name h6, #-company-name span{
    font-weight: 700 !important;
    font-size: 10px !important;
}
    
}
#-footer-content-items div{
    display: flex;
    align-items: center;
}
#-company-name h6, #-company-name span{
    font-weight: 800;
    font-size: 12px;
    color: #00545c;
}
@media print{
    .-show-print{
        display: block !important;
    }
}
tfoot { display: table-footer-group; }
#-page-sign{
    display: flex;
    width: 250px;
    height: 90px;
    background-color: #ffffffa8;
    border: 3px solid #00545c;
    border-radius: 10px;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/* Menu Container */
@media print{
    body{
        width: 210mm !important;
        height: 297mm !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    @page{
        size: A4 !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}

@media (max-width: 768px) {
    .menu-open-button {
        border-radius: 60px; /* Keeps it perfectly circular */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* More pronounced shadow for depth */
        background-color: #007B7F; /* Slightly different shade for distinction */
        width: 100px !important;
        height: 100px !important;
    }
    .menu{
        width: 100px !important;
        height: 100px !important;
    }

    /* Adjusts the size of the menu items to match the larger button size */
    .menu-item {
        width: 100px !important; /* Larger menu items for easier interaction */
        height: 100px !important;
        border: 3px solid #00545c;
        border-radius: 45px; /* Keeps items circular */
        font-size: 24px !important; /* Increases icon size for clarity */
        line-height: 90px; /* Adjust line height to vertically center the icons/text */
    }
    .menu .material-symbols-rounded{
        font-size: 30px !important;
    }
    #menu-open:checked ~ .menu-item:nth-child(5) {
        transition-delay: 0.2s;
        transform: scale(1) translateX(-50%) translateY(-140px) !important;
    }
    #menu-open:checked ~ .menu-item:nth-child(6) {
        transition-delay: 0.3s;
        transform: scale(1) translateX(-50%) translateY(-260px) !important;
    }
    #menu-open:checked ~ .menu-item:nth-child(7) {
        transition-delay: 0.4s;
        transform: scale(1) translateX(-50%) translateY(-380px) !important;
    }
    #menu-open:checked ~ .menu-item:nth-child(8) {
        transition-delay: 0.5s;
        transform: scale(1) translateX(-50%) translateY(-500px) !important;
    }
    #menu-open:checked ~ .menu-item:nth-child(9) {
        transition-delay: 0.7s;
        transform: scale(1) translateX(-50%) translateY(-620px) !important;
    }
}

/* Initial state - hamburger */
.menu-open-button .material-symbols-rounded::before {
    content: 'menu';
}

/* Checked state - close icon */
#menu-open:checked + .menu-open-button .material-symbols-rounded::before {
    content: 'close';
}

.menu-open-button {
    transition: transform 0.5s ease, opacity 0.5s ease;
}

#menu-open:checked + .menu-open-button {
    transform: scale(0.8);
    opacity: 0.7;
}
.menu-item {
    opacity: 0;
    transform: scale(0.5) translateX(-50%) translateY(20px);
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.5s ease;
    display: flex; 
    justify-content: center; 
    align-items: center;
    /* Ensure items are hidden initially to prepare for animation */
    visibility: hidden;
    position: absolute;
    bottom: 100%; /* Start above the menu button */
    left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFFFFF;
    color: #00545c;
    text-align: center;
    line-height: 50px;

}

/* Dynamic Appearance Animation for Menu Items */
#menu-open:checked ~ .menu-item {
    opacity: 1;
    transform: scale(1) translateX(-50%) translateY(0px);
    visibility: visible; /* Make sure items are visible when menu is checked */
}

/* Staggered Animation for Each Item */
#menu-open:checked ~ .menu-item:nth-child(4) {
    transition-delay: 0.1s;
    transform: scale(1) translateX(-50%) translateY(-20px);
}
#menu-open:checked ~ .menu-item:nth-child(5) {
    transition-delay: 0.2s;
    transform: scale(1) translateX(-50%) translateY(-80px);
}
#menu-open:checked ~ .menu-item:nth-child(6) {
    transition-delay: 0.3s;
    transform: scale(1) translateX(-50%) translateY(-140px);
}
#menu-open:checked ~ .menu-item:nth-child(7) {
    transition-delay: 0.4s;
    transform: scale(1) translateX(-50%) translateY(-200px);
}
#menu-open:checked ~ .menu-item:nth-child(8) {
    transition-delay: 0.5s;
    transform: scale(1) translateX(-50%) translateY(-260px);
}
#menu-open:checked ~ .menu-item:nth-child(9) {
    transition-delay: 0.6s;
    transform: scale(1) translateX(-50%) translateY(-320px);
}

#menu-open:not(:checked) ~ .menu-item {
    opacity: 0;
    transform: scale(0.4) translateX(-50%) translateY(20px) rotate(-10deg);
    transition-delay: 0s; /* Reset delay for instant close animation */
    visibility: hidden; /* Hide items when menu is not checked */
}

.menu:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%);
}

.menu {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    z-index: 1000;
}

/* Menu Button */
.menu-open-button {
    cursor: pointer;
    width: 60px;
    height: 60px;
    background-color: #00545c; /* Branding color */
    display: flex !important;
    align-items: center;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: white; /* Icon color */
}
#-menu input[type=checkbox]{
    display: none;
}

/* Tooltip Styling */
.tooltip {
    text-wrap: wrap !important;
    width: 200px;
    position: absolute;
    top: 15px;
    left: -118px;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
        transition: all 0.5s ease-in-out;
}
.tooltip hr{
margin: 5px 0;
    opacity: 0.1;
}
.tooltip-arrow {
    content: "";
    position: absolute;
    top: 9px;
    left: 100%;
    rotate: 270deg;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

/* Ensuring Tooltip Visibility on Hover */
.menu:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

/* Menu Items */

.menu-open:checked ~ .menu-item {
    display: flex; /* Show items when menu is checked */
    justify-content: center;
    align-content: center;
    align-items: center;
}

.-mobile-only {
    display: none;
    
}

/* CSS Media Query for Mobile Devices */
@media (max-width: 768px) { /* Common breakpoint for mobile devices */
    .-mobile-only {
        display: block; /* or 'inline', 'inline-block', etc., depending on your layout needs */
    }
    .tooltip{
        top: 7px;
        left: -113px;
    }
    .tooltip-arrow{
        top: 40%;
    }
}
/* Additional Styles */
.menu-item:hover {
    background-color: #EEEEEE; /* Lighter shade for hover effect */
    text-decoration: none !important;
}


.print-format-gutter{
    padding: 0 !important;
}
.action-banner{
    display: none !important;
}
.pageNumber{
    width: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    border-radius: 5px;
    /*padding: 2.5px 5px 0 5px;*/
    height: 22px;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    -webkit-print-color-adjust: exact;
    background-color: #00545c;
}
.company-card {
    background-color: #ffffff;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 340px;
    margin: auto;
    display: flex;
    flex-direction: column;  /* Organizes content vertically */
    justify-content: space-between;  /* Distributes space between items and container edges */
    height: 100%;
    animation: fadeInScaleUp 0.6s ease-out forwards;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    will-change: transform, box-shadow;
}
.company-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
@keyframes fadeInScaleUp {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.arrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 20px;
    width: 100px;
}

.rfq-text {
    font-size: 9px;
    font-weight: bold;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.arrow-icon {
    font-size: 60px !important; /* Adjust size as needed */
    animation: bounceHorizontal 2s infinite; /* Apply the new animation */
    color: #00545c;
}

@keyframes bounceHorizontal {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px); /* Moves right smoothly */
    }
}


.card-header {
    background: linear-gradient(to right, #00545c10, #ffffff);
    box-shadow: 0px 4px 8px -3px #00545c33; /* Soft shadow with transparency */
    color: #333;
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
}
#card2 .card-header {
    background: linear-gradient(to right, #ffffff, #ffffff);
}

.company-logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-right: 15px;
}

.company-info h3, .company-info p {
    margin: 0;
    line-height: 1.4;
    text-align: left;
}

.company-name, .company-name-arabic {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%; /* Ensures the text is contained within the header */
}

.company-name, .company-name-arabic {
    font-size: 10px;
    font-weight: bold;
}
.card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
    justify-content: space-between;
}
.contact-info a {
    text-decoration: none;
}

.contact-link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.contact-link:hover {
    background-color: #f5f5f5;
}


.company-card .material-symbols-rounded {
    font-size: 20px;
    color: #007bff;
}

.tax-id {
    font-size: 12px;
    color: #666;
    text-align: center;
}

.call .material-symbols-rounded { color: #4caf50; }
.email .material-symbols-rounded { color: #ff9800; }
.location .material-symbols-rounded { color: #f44336; }

.profile-link {
    position: absolute;
    bottom: -17px; /* Half outside the header */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center it horizontally relative to its position */
    display: inline-block;
    background-color: #212529;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 20px; /* Fully rounded ends */
    box-shadow: 0 2px 10px rgba(0,0,0,0.15); /* Subtle shadow for floating effect */
    transition: all 0.3s ease;
}

.profile-link:hover {
    background-color: #0056b3; /* Darker shade on hover */
    box-shadow: 0 4px 15px rgba(0,0,0,0.25); /* Larger shadow on hover */
    transform: translateX(-50%) scale(1.05); /* Slightly larger on hover */
    text-decoration: none;
}
@media print {
    .company-card {
        box-shadow: none;  /* Remove shadow for printing */
        border: 3px solid #fafafa;  /* Optional: add border to define the box instead of shadow */
    }

    .card-header {
        background: #fafafa !important; /* Use a solid background color for printing */
    }

    .profile-link{
        display: none;  /* Hide elements that are unnecessary or problematic on print */
    }
    .card-body{
        display: none;
    }
    .company-card::after {
        content: "Scan QR code for more.";
        display: block; 
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%); /* This centers the content */
        text-align: center;
        color: #21252960;
    }
}
.table-container {
  font-family: 'Poppins', sans-serif;
  overflow-x: auto;
  margin: 20px 0;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #e1e1e1;
  text-align: center;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}

.table-container th, .table-container td {
  text-align: left;
  padding: 15px;
  font-size: 13px;
  color: #333;
  border-bottom: 1px solid #eaeaea;
  vertical-align: middle !important; /* Ensure all cells are vertically centered */
}

.table-container thead th {
  background-color: #00545c;
  color: #ffffff;
  text-transform: uppercase;
  padding: 5px !important; /* Increased padding for table head cells */
  color: white; /* Explicitly setting the text color to white */
  text-align: center;
}

.table-container tbody tr:nth-child(odd) {
  background-color: #fafafa;
}

.table-container tbody tr:hover {
  background-color: #f0f0f0;
}

.table-container img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.table-container a {
  color: #00545c;
  text-decoration: none;
  transition: color 0.3s ease;
}

.table-container a:hover {
  color: #007b8f;
}

.table-container .remark-row td {
  background-color: #e6f4f1;
  padding-left: 40px;
  font-size: 12px;
  color: #606060;
  font-style: normal;
  border-bottom: 2px solid #00545c;
}

@media (max-width: 768px) {
  .table-container th, .table-container td {
    padding: 12px;
    font-size: 12px;
  }

  .table-container .remark-row td {
    padding-left: 20px;
  }
}


#company-cards{
    display: flex;
    flex-wrap: nowrap;
    flex: 0 0 auto;
    width: 100%;
    justify-content: space-between;
    align-items: stretch; 
}
#card1, #card2{
    display: flex;
    flex: 1;
    width: 270px;
}

